name: Testing (Python versions)
on:
  push:
    branches:
      - main

jobs:
  build:
    env:
      GEOMSTATS_BACKEND: ${{matrix.geomstats-backend}}
    runs-on: ${{matrix.os}}
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Build using Python ${{matrix.python-version}} and Backend ${{matrix.geomstats-backend}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
      - name: install dependencies [pip]
        run: 'pip install --upgrade pip setuptools wheel

          pip install -e .[opt,test,ci,${{ matrix.geomstats-backend }}]

          '
      - id: measurement-4
        name: Record Measurement After install dependencies [pip]
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          label: install dependencies [pip]
          task: get-measurement
      - if: ${{matrix.test-folder == 'tests/tests_scripts'}}
        name: install (extra) dependencies [pip]
        run: 'pip install -e .[test-scripts-all]

          '
      - id: measurement-6
        name: Record Measurement After install (extra) dependencies [pip]
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          label: install (extra) dependencies [pip]
          task: get-measurement
      - if: ${{matrix.test-folder == 'tests/tests_geomstats/'}}
        name: unit testing for geomstats [pytest]
        run: 'pytest --cov-report term -m "not (slow or redundant)" --cov=geomstats
          ${{matrix.test-folder}}

          '
      - id: measurement-8
        name: Record Measurement After unit testing for geomstats [pytest]
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          label: unit testing for geomstats [pytest]
          task: get-measurement
      - if: ${{matrix.test-folder == 'tests/tests_geomstats/'}}
        name: unit testing for geomstats (slow) [pytest]
        run: 'pytest --cov-report term -m "slow and (not redundant)" --cov-append
          --cov=geomstats ${{matrix.test-folder}}

          '
      - id: measurement-10
        name: Record Measurement After unit testing for geomstats (slow) [pytest]
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          label: unit testing for geomstats (slow) [pytest]
          task: get-measurement
      - if: ${{matrix.test-folder == 'tests/tests_scripts'}}
        name: unit testing for scripts [pytest]
        run: 'pytest ${{matrix.test-folder}}

          '
      - id: measurement-12
        name: Record Measurement After unit testing for scripts [pytest]
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          label: unit testing for scripts [pytest]
          task: get-measurement
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption.json
    strategy:
      fail-fast: false
      matrix:
        geomstats-backend:
          - autograd
          - numpy
          - pytorch
        os:
          - ubuntu-latest
        python-version:
          - 3.9
          - 3.10.x
          - 3.11
          - 3.12
        test-folder:
          - tests/tests_geomstats/
          - tests/tests_scripts
